<!DOCTYPE html>
<!--This template is ugly...But I cannot make it better for now-->
<html class="audioSupported">
	<head>
		{% load staticfiles %}
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="format-detection" content="telephone=no">
		<title>{{ news_type }}</title>
		<link type="text/css" rel="stylesheet" href="{% static "review/style.css" %}">
		<script>
			_breakImg = 'http://pub.idqqimg.com/qqmobile/pubhistory/images/img_failed.png';
			_imgError = function(img){
				if(img.getAttribute('src') != _breakImg){ img.onerror = null; img.src = _breakImg }
			}
			var _total=2080;
		</script>
	</head>
	<body>
		{% autoescape off %}
		{{ document }}
		{% endautoescape %}
	</body>
</html>
